<!-- somewhere in your root component template -->
<app-app-toasts aria-live="polite" aria-atomic="true"></app-app-toasts>

<div class="center">
  <div>
    <div>
      <img src="./assets/images/svgs/logo.svg" alt="" />
    </div>
    <form
      id="form"
      #registerform="ngForm"
      (ngSubmit)="submit()"
      autocomplete="off"
    >
      <div class="row">
        <div class="col-md-5 align-label">Name:</div>
        <div class="col-md-7">
          <input
            class="form-field form-control"
            type="name"
            name="name"
            [(ngModel)]="user.name"
            #name="ngModel"
            required
          />
          <span *ngIf="name.errors?.['required'] && name.touched" class="errors"
            >Name is required.</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 align-label">Username:</div>
        <div class="col-md-7">
          <input
            class="form-field form-control"
            type="username"
            name="username"
            [(ngModel)]="user.username"
            #username="ngModel"
            required
          />
          <span
            *ngIf="username.errors?.['required'] && username.touched"
            class="errors"
            >Username is required.</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 align-label">Email:</div>
        <div class="col-md-7">
          <input
            class="form-field form-control"
            type="email"
            name="email"
            [(ngModel)]="user.email"
            #email="ngModel"
            required
          />
          <span
            *ngIf="email.errors?.['required'] && email.touched"
            class="errors"
            >Email is required.</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 align-label">Password:</div>
        <div class="col-md-7">
          <input
            class="form-field form-control"
            type="password"
            name="password"
            [(ngModel)]="user.password"
            #password="ngModel"
            required
          />
          <span
            *ngIf="password.errors?.['required'] && password.touched"
            class="errors"
            >Password is required.</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 align-label">Confirm Password:</div>
        <div class="col-md-7">
          <input
            class="form-field form-control"
            type="password"
            name="confirmPassword"
            [(ngModel)]="user.confirmPassword"
            #confirmPassword="ngModel"
            required
          />
          <span
            *ngIf="confirmPassword.errors?.['required'] && confirmPassword.touched"
            class="errors"
            >Confirm Password is required.</span
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 align-label">
          <a class="link" [routerLink]="['/login']"> I have an account ... </a>
        </div>
      </div>
      <button
        class="btn btn-dark submit-btn"
        type="submit"
        [disabled]="
          !user.name ||
          !user.username ||
          !user.email ||
          !user.password ||
          !user.confirmPassword
        "
      >
        Register
      </button>
    </form>
  </div>
</div>
