<!-- somewhere in your root component template -->
<app-app-toasts aria-live="polite" aria-atomic="true"></app-app-toasts>

<div id="mySidebar" class="sidebar">
  <app-navbar [display]="set('image')"></app-navbar>
  <div class="chats searchBar">
    <input type="text" class="searchChat" style="background-color: white" />
  </div>
  <div class="chats">
    <p>About</p>
  </div>
  <div class="chats">
    <p>About</p>
  </div>
  <div class="chats last">
    <p>About</p>
  </div>
</div>

<div id="main">
  <app-navbar></app-navbar>
  <h2>Collapsed Sidebar</h2>
  <p>
    Click on the hamburger menu/bar icon to open the sidebar, and push this
    content to the right.
  </p>
  <app-footer></app-footer>
</div>
