body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(250, 250, 250, 0.5);
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  margin-left: 25%;
  /* padding: 16px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.chats {
  border-top: 1px solid rgb(250, 250, 250, 0.5);
  border-bottom: 1px solid rgb(250, 250, 250, 0.5);
  font-size: 20px;
}

.chats p {
  margin: 0;
  padding: 20px 0px;
  padding-left: 10px;
}

.chats:hover {
  background-color: rgb(250, 250, 250, 0.5);
}

p:hover {
  cursor: pointer;
}

.last {
  border-bottom: 0px solid rgb(250, 250, 250, 0.5);
}

.no-chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 79%;
}

.searchBar {
  text-align: center;
  border-top: 0;
  padding: 20px 0px;
}

.searchBar:hover {
  background-color: transparent;
  cursor: default;
}

.searchChat {
  width: 90%;
  border: solid 1px #ccc;
  border-radius: 25px;
  padding: 10px 50px;
  border: none;
  outline: none;
  box-shadow: none;
  background: url(../../../assets/images/svgs/search.svg) no-repeat scroll 15px;
  background-size: 20px;
  font-size: 16px;
}

.searchChat:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

::-webkit-input-placeholder {
  font-style: italic;
}
