<!-- somewhere in your root component template -->
<app-app-toasts aria-live="polite" aria-atomic="true"></app-app-toasts>

<div id="mySidebar" class="sidebar">
  <app-navbar [image]="image"></app-navbar>
  <div class="chats searchBar">
    <input
      type="text"
      class="searchChat"
      style="background-color: white"
      placeholder="Search..."
    />
  </div>
  <div *ngIf="chats && chats.length > 0">
    <div *ngFor="let chat of chats; let i = index">
      <div *ngIf="i != chats.length - 1; else lastEle">
        <div class="chats">
          <p
            *ngIf="chat.groupName; else displayChat"
            (click)="setDisplay(chat.groupName)"
          >
            {{ chat.groupName }}
          </p>
          <ng-template #displayChat
            ><p (click)="setDisplay(chat)">{{ chat }}</p></ng-template
          >
        </div>
      </div>
      <ng-template #lastEle>
        <div class="chats last">
          <p
            *ngIf="chat.groupName; else displayChat"
            (click)="setDisplay(chat.groupName)"
          >
            {{ chat.groupName }}
          </p>
          <ng-template #displayChat
            ><p (click)="setDisplay(chat)">{{ chat }}</p></ng-template
          >
        </div>
      </ng-template>
    </div>
  </div>
  <div *ngIf="!chats || chats.length == 0" class="no-chat">
    <h4><strong>No Messages Found!!</strong></h4>
  </div>
</div>

<div id="main">
  <app-navbar [display]="display"></app-navbar>
  <app-messages *ngIf="display == 'ChatterBox'"></app-messages>
  <app-footer *ngIf="display != 'ChatterBox'"></app-footer>
</div>
