<!-- somewhere in your root component template -->
<app-app-toasts aria-live="polite" aria-atomic="true"></app-app-toasts>

<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img
      src="./assets/images/svgs/logo.svg"
      alt=""
      *ngIf="image == 'image'"
      id="logo"
    />
    <span *ngIf="display">{{ display }}</span>
    <button
      *ngIf="image"
      id="menu"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <img
        src="./assets/images/svgs/menu.svg"
        alt=""
        *ngIf="image"
        id="menuImg"
      />
    </button>
    <div class="dropdown-menu dropdown-menu-right" id="options">
      <button class="dropdown-item" type="button">Change Password</button>
      <button class="dropdown-item" type="button" (click)="logout()">
        Log Out
      </button>
    </div>
  </a>
</nav>
