#no-chat-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92.5vh;
}

.my-rows {
  margin-left: 0;
  margin-right: 0;
  text-align: justify;
}

.my-rows p {
  background-color: rgb(250, 250, 250, 0.5);
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5% 2.5%;
}
